@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*le * prend en compt tous le HTML*/
*{
    margin: 0px;
    padding: 0px;
    color: blanchedalmond;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: rgb(36, 35, 35);
}
nav{
    width: 100%;
    margin: 0px auto 40px auto;
    position: sticky;
    top: 0px;
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: blanchedalmond;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
    text-transform: uppercase;
}

nav a:hover{
    color: rgb(116, 110, 100);
    border-bottom: 2px solid blanchedalmond;
}
section{
    margin: 10% auto;
    width: 70%;
}
article{
    border: 1px solid blanchedalmond;
    background-color: rgb(36, 35, 35);
}
.titreUn{
    color: blanchedalmond;
    font-size: 1.4em;
    padding: 3%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid blanchedalmond;
    background-color: black;
}
p{
 margin: 10px;
 text-align: center; 
line-height: 2em;
}
.infos{
    display: flex;
    justify-content: space-around;
    line-height: 3em;
}
.infos a{
    text-decoration: none;
}
.experience{
    line-height: 1.3em;
    margin: 5% auto;
}
.experience ul li{
    margin: 2% 5%;
}