@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    color: blanchedalmond;
}
body{
    width: 100%;
    background-color: rgb(19, 18, 18);
}
div{
    float: left;
    font-size: 1.1em;
    font-weight: 400;
   font-family: 'Lato', sans-serif;
   text-transform: uppercase; 
}
h2{
    text-align: center;
    position: relative;
    top: 30%;
}

#picture{
    width: 33.3%;
    height: 590px;
    margin: 2%;
}
#WM{
    border: 1px solid blanchedalmond;
    width: 28%;
    height: 235px;
    margin: 7% 1% 0%;
    text-align: center;
    padding: 5% auto;
}
#about_me{
    width: 28%;
    height: 235px;
    border: 1px solid blanchedalmond;
   margin: 7% 1% 0%;
   background-color: rgb(36, 35, 35);
}
h3{
    position: relative;
    top: 25%;
    animation: blink 4s infinite;
    -webkit-animation: blink 4s infinite;
}
#Mp{
    width: 28%;
    height: 235px;
    border: 1px solid blanchedalmond;
   margin: 2% 1%;
   background-color: rgb(36, 35, 35);
}
#contact{
    width: 28%;
    height: 235px;
    border: 1px solid blanchedalmond;
   margin: 2% 1%;
   background-color: rgb(36, 35, 35);
}
a{
    text-decoration: none; 
}
@-webkit-keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}
